*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
.survey {
    background-color: #f3f3f3;
    position: relative;
    width: 100%;
    height: 900px;

    display: flex;
   
    flex-direction: column;
    
    padding: 100px 0 0 150px;
.logo {
display: flex;
align-items: center;
width: 80%;
.fa-lemon {
font-size: 24px;
margin-right: 15px;
}
}
h2 {
    // background-color: red;
   
    font-size: 36px;
}

h1 {
    // background-color: aqua;
    font-size: 52px;
}
.options {
    // background-color: yellow;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
   margin-top: 150px;

    // width: 600px;
    // height: 30vh;
    // align-items: center;
    font-size: 36px;

    .legend {
        font-weight: 700;
        font-family: "Klara";
      }

.checkbox-option {
margin-top: 30px;
border: none;
// 
   .option1, .option2, .option3, .option4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    background: none;
    border: 2px solid #cdccd0;
    border-radius: 3vh;
    margin: 0 2vh 2vh 0;
    padding: 10px 15px;
// 
  .work {
    display: none;
  }

  .custom-work {
    position: relative;
    padding-left: 20px; /* Відступ для кастомного елемента */
    cursor: pointer; /* Курсор-стрілка при наведені */
  }
  .custom-work label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* Ширина кастомного круга */
    height: 15px; /* Висота кастомного круга */
    border: 2px solid #cdccd0; /* Колір обводки */
    border-radius: 50%; /* Кругла форма */
    background: white; /* Фоновий колір */
}

/* Стилі для вибраного варіанту */
.work:checked + label::before {
    background: #007BFF; /* Колір заповнення для вибраного варіанту */
    border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
}

/* Додати стилі для "позначки" вибраного варіанту */
.work:checked + label::after {
    content: '';
    position: absolute;
    left: 0.5vh; /* Відступ від лівого краю кастомного круга */
    top: 50%;
    transform: translateY(-50%);
    width: 8px; /* Ширина для галочки */
    height: 8px; /* Висота для галочки */
    border-radius: 50%; /* Кругла форма для галочки */
    background: white; /* Колір галочки */
}

//
// 
.personal {
    display: none;
  }

  .custom-personal {
    position: relative;
    padding-left: 20px; /* Відступ для кастомного елемента */
    cursor: pointer; /* Курсор-стрілка при наведені */
  }
  .custom-personal label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* Ширина кастомного круга */
    height: 15px; /* Висота кастомного круга */
    border: 2px solid #cdccd0; /* Колір обводки */
    border-radius: 50%; /* Кругла форма */
    background: white; /* Фоновий колір */
}

/* Стилі для вибраного варіанту */
.personal:checked + label::before {
    background: #007BFF; /* Колір заповнення для вибраного варіанту */
    border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
}

/* Додати стилі для "позначки" вибраного варіанту */
.personal:checked + label::after {
    content: '';
    position: absolute;
    left: 0.5vh; /* Відступ від лівого краю кастомного круга */
    top: 50%;
    transform: translateY(-50%);
    width: 8px; /* Ширина для галочки */
    height: 8px; /* Висота для галочки */
    border-radius: 50%; /* Кругла форма для галочки */
    background: white; /* Колір галочки */
}

// 
// 
.study {
    display: none;
  }

  .custom-study {
    position: relative;
    padding-left: 20px; /* Відступ для кастомного елемента */
    cursor: pointer; /* Курсор-стрілка при наведені */
  }
  .custom-study label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* Ширина кастомного круга */
    height: 15px; /* Висота кастомного круга */
    border: 2px solid #cdccd0; /* Колір обводки */
    border-radius: 50%; /* Кругла форма */
    background: white; /* Фоновий колір */
}

/* Стилі для вибраного варіанту */
.study:checked + label::before {
    background: #007BFF; /* Колір заповнення для вибраного варіанту */
    border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
}

/* Додати стилі для "позначки" вибраного варіанту */
.study:checked + label::after {
    content: '';
    position: absolute;
    left: 0.5vh; /* Відступ від лівого краю кастомного круга */
    top: 50%;
    transform: translateY(-50%);
    width: 8px; /* Ширина для галочки */
    height: 8px; /* Висота для галочки */
    border-radius: 50%; /* Кругла форма для галочки */
    background: white; /* Колір галочки */
}
// 

// 
.nonprofit {
    display: none;
  }

  .custom-nonprofit {
    position: relative;
    padding-left: 20px; /* Відступ для кастомного елемента */
    cursor: pointer; /* Курсор-стрілка при наведені */
  }
  
  .custom-nonprofit label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* Ширина кастомного круга */
    height: 15px; /* Висота кастомного круга */
    border: 2px solid #cdccd0; /* Колір обводки */
    border-radius: 50%; /* Кругла форма */
    background: white; /* Фоновий колір */
}

/* Стилі для вибраного варіанту */
.nonprofit:checked + label::before {
    background: #007BFF; /* Колір заповнення для вибраного варіанту */
    border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
}

/* Додати стилі для "позначки" вибраного варіанту */
.nonprofit:checked + label::after {
    content: '';
    position: absolute;
    left: 0.5vh; /* Відступ від лівого краю кастомного круга */
    top: 50%;
    transform: translateY(-50%);
    width: 8px; /* Ширина для галочки */
    height: 8px; /* Висота для галочки */
    border-radius: 50%; /* Кругла форма для галочки */
    background: white; /* Колір галочки */
}



   }
}
   label {
    margin-left: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}
.btn-continue {
    position: absolute;
    bottom: 20vh;
    right: 10vh;
    width: 200px;
    font-size: 26px;
    padding: 10px 15px;
border-radius: 5px;
border: none;
background-color: #3173e1;
color: white;
.fa-solid {
font-size: 18px;
margin-left: 10px;
}

&:hover {
    cursor: pointer;
background-color: #285db7;
}
}

}
.friend {
   
    width: 750px;
    height: 100%;
    background-image: url('../image/first-page-bg.jpeg');
    background-size: contain;

}
}