* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: row;
  
  .survey {
    background-color: #f3f3f3;
    position: relative;
    width: 100%;
    height: 900px;
  
    display: flex;
  
    flex-direction: column;
  
    padding: 100px 0 0 150px;
    .logo {
      display: flex;
      align-items: center;
      width: 80%;
      .fa-lemon {
        font-size: 24px;
        margin-right: 15px;
      }
    }
    h2 {
      // background-color: red;
  
      font-size: 36px;
    }
  
    h1 {
      // background-color: aqua;
      font-size: 52px;
      // font-weight: 700;
    }
    .options {
      // background-color: yellow;
      display: flex;
      width: 90vh;
      height: 350px;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 150px;
  
      font-size: 36px;
  
      .legend {
        font-weight: 700;
        font-family: "Klara";
      }
      .paragraph {
        color: #424242;
        font-size: 26px;
        margin-top: 5px;
      }
  
      .checkbox-option {
        margin-top: 30px;
        border: none;
  
        //
        .option1,
        .option2,
        .option3,
        .option4,
        .option5,
        .option6,
        .option7,
        .option8 {
          display: inline-flex;
          align-items: center;
          justify-content: center;
  
          background: none;
          border: 2px solid #cdccd0;
          border-radius: 3vh;
          margin: 0 2vh 2vh 0;
          padding: 10px 15px;
          //
          .youTube {
            display: none;
          }
  
          .custom-youTube {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
          .custom-youTube label::before {
            content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* Ширина кастомного круга */
    height: 15px; /* Висота кастомного круга */
    border: 2px solid #cdccd0; /* Колір обводки */
    border-radius: 50%; /* Кругла форма */
    
          }
  
          /* Стилі для вибраного варіанту */
          .youTube:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .youTube:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
  
          //
          //
          .ad {
            display: none;
          }
  
          .custom-ad {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
          .custom-ad label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .ad:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .ad:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
  
          //
          //
          .social-media {
            display: none;
          }
  
          .custom-social-media {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
          .custom-social-media label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .social-media:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .social-media:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
          //
          //
          .streaming {
            display: none;
          }
  
          .custom-streaming {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
  
          .custom-streaming label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .streaming:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .streaming:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
  
          .linkedIn {
            display: none;
          }
  
          .custom-linkedIn {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
  
          .custom-linkedIn label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .linkedIn:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .linkedIn:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
  
          .audioAd {
            display: none;
          }
  
          .custom-audioAd {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
          .custom-audioAd label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .audioAd:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .audioAd:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
  
          .friends {
            display: none;
          }
  
          .custom-friends {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
          .custom-friends label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .friends:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .friends:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
  
          
  
          .other {
            display: none;
          }
  
          .custom-other {
            position: relative;
            padding-left: 20px; /* Відступ для кастомного елемента */
            cursor: pointer; /* Курсор-стрілка при наведені */
          }
          .custom-other label::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px; /* Ширина кастомного круга */
            height: 15px; /* Висота кастомного круга */
            border: 2px solid #cdccd0; /* Колір обводки */
            border-radius: 50%; /* Кругла форма */
            background: white; /* Фоновий колір */
          }
  
          /* Стилі для вибраного варіанту */
          .other:checked + label::before {
            background: #007bff; /* Колір заповнення для вибраного варіанту */
            border: 1px solid #0056b3; /* Тінь для вибраного варіанту */
          }
  
          /* Додати стилі для "позначки" вибраного варіанту */
          .other:checked + label::after {
            content: "";
            position: absolute;
            left: 0.5vh; /* Відступ від лівого краю кастомного круга */
            top: 50%;
            transform: translateY(-50%);
            width: 8px; /* Ширина для галочки */
            height: 8px; /* Висота для галочки */
            border-radius: 50%; /* Кругла форма для галочки */
            background: white; /* Колір галочки */
          }
        }
      }
      label {
        margin-left: 10px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    .btn-container{
      background-color: red;
  
  .btn-back {
      position: absolute;
      bottom: 15vh;
      right: 85vh;
      width: 200px;
      font-size: 26px;
      padding: 10px 15px;
     margin-left: 10px;
      border-radius: 5px;
      border: none;
      background-color: #3173e1;
      color: white;
  
      .fa-chevron-left{
          font-size: 18px;
        margin-right: 10px;
      }
  
      &:hover {
          background-color: #285db7;
        }
  }
  
    .btn-continue {
      position: absolute;
      bottom: 15vh;
      right: 25vh;
      width: 200px;
      font-size: 26px;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      background-color: #3173e1;
      color: white;
  
      .fa-chevron-right {
        font-size: 18px;
        margin-left: 10px;
      }
  
      &:hover {
        background-color: #285db7;
      }
    }
  }
  
  }
  .fourth-photo {
     
    width: 750px;
    height: 100%;
    background-image: url('../image/four-page-bg.jpeg');
    background-size: contain;
  }
  }