* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ecf0fa;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
  .logo {
    // background-color: blue;
    display: flex;
    align-items: center;
    gap: 15px;
    .fa-lemon {
        font-size: 32px;
    }
    h1{
font-weight: 300;
span{
    font-weight: bold;
}
    }
  }

  .header-tools {
// background-color: pink;
display: flex;
justify-content: space-between;
align-items: center;
width: 20%;
height: 70px;
position: relative;
 

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: grey;
    left: calc(85% - 1px); // розміщення посередині контейнера
    top: 50%;
    transform: translateY(-50%);
  }



.vertical-line{
    width: 2px;
    height: 50%;
    background-color: grey;
}

button{
background: none;
border: none;
.icon-header {
    font-size: 32px;
}
}

  }

}

.work-place{
  display: flex;
}
