@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-second {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.choose-what {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  margin-left: 50px;
}

.logo-second {
  display: flex;
  margin-bottom: 50px;
  color: black;
  margin-top: 50px;
}
.logo-second .fa-lemon,
.logo-second .hello {
  font-size: 32px;
  margin-right: 10px;
}

.checkbox-option-second {
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.options-second {
  display: flex;
  flex-direction: column;
  color: #a0a0a1;
  max-width: 100%;
  flex-wrap: wrap;
}

.custom-option {
  display: flex;
  border: 2px solid #767678;
  border-radius: 50px;
  color: #a0a0a1;
  padding: 10px 20px;
  margin: 15px 15px 0 0;
}

.legend-choose {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: grey;
}

label {
  margin-left: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}
.btn-container .btn-back,
.btn-container .btn-continue-second {
  width: 145px;
  height: 45px;
  background: #0076f1;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  margin-top: 100px;
}

.bg-photo-second {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bg-photo-second .second-bg {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container-second {
    flex-direction: column;
    justify-content: center;
  }
  .logo-second {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    z-index: 1001;
    padding: 10px;
    border-radius: 10px;
    background: rgba(27, 27, 27, 0.4); /* напівпрозорий білий */
    backdrop-filter: blur(3px); /* розмиття */
    -webkit-backdrop-filter: blur(3px); /* Safari */
  }
  .logo-second .hello {
    font-size: 24px;
  }
  .logo-second .fa-lemon {
    font-size: 24px !important;
  }
  .legend-choose {
    color: white;
    margin-top: 50px;
  }
  .bg-photo-second {
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    position: absolute;
  }
  .bg-photo-second .second-bg {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .choose-what {
    position: relative;
    z-index: 1000;
    margin: 0;
    align-items: center;
  }
  .options-second {
    background: rgba(27, 27, 27, 0.4); /* напівпрозорий білий */
    backdrop-filter: blur(3px); /* розмиття */
    -webkit-backdrop-filter: blur(3px); /* Safari */
    border-radius: 10px;
  }
  .options-second .legend-choose,
  .options-second .paragraph-choose {
    margin-left: 0px;
    padding: 0 10px;
    color: white;
  }
  .custom-option {
    color: white;
    border: 2px solid white;
    margin-left: 10px;
  }
  .btn-continue-second {
    margin: 35px 0 35px 0;
  }
}/*# sourceMappingURL=second-question.css.map */