* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container-team {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.team-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  margin-left: 50px;
}
.logo-team {
  display: flex;
  margin-bottom: 50px;
  color: black;
  .fa-lemon,
  .hello {
    font-size: 32px;
    margin-right: 10px;
  }
}
.legend-team {
  display: block;
  margin: 50px 0 15px 0;
  font-size: 24px;
  color: #767678;
  font-weight: bold;
}
.variant {
  border: none;
  max-width: 800px;
}

.checkbox-option-team {
  border: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.team {
  display: flex;
  width: 90%;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #cdccd0;
  position: relative;
}

.email-adress {
  margin-left: 15px;
  font-size: 1.5rem;
  background: none;
  border: none;
  width: 100%;
  &::placeholder {
    font-size: 24px;
    font-weight: 500;
  }
  &:focus {
    outline: none;
  }
}

.role-container {
  height: 8vh;
  border-left: 2px solid #cdccd0;
  display: flex;
  align-items: center;

  .input-option {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    color: #88888a;
    .fa-solid {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: black;
      }
    }
  }
}

.popup-window {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 32vh;
  overflow: hidden;
  z-index: 1;
  button {
    background: white;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    transition: background-color 0.3s;

    h1 {
      font-weight: 500;
      font-size: 28px;
      color: black;
    }

    p {
      font-size: 1.5rem;
      color: #646366;
    }

    &:hover {
      background: #cde7ff;
    }
  }
}

.remove-button {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  font-size: 32px;
  position: absolute;
  right: -50px;
  border-radius: 5px;
  color: #d2d0d0;
  &:hover {
    color: black;
    cursor: pointer;
  }
}
.btn-add {
  width: 50%;
  height: 7vh;
  border: none;
  border-radius: 10px;
  background: rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0076f1;
    color: white;
  }
}

.button-container {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 5rem;

  .btn-later,
  .btn-invite {
    font-size: 1.625rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0076f1;
      color: white;
    }
  }

  .btn-later {
    background: none;
    color: black;
  }

  .btn-invite {
    background-color: #dad9db;
    color: #88888a;
  }
}

.bg-photo-team {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .team-bg {
    max-width: 100%;
    margin: auto;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .container-fourth {
    flex-direction: column;
    justify-content: center;
  }
  .logo-team {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 30px;
    z-index: 1001;
    padding: 10px;
    border-radius: 10px;
    background: rgba(27, 27, 27, 0.4); /* напівпрозорий білий */
    backdrop-filter: blur(3px); /* розмиття */
    -webkit-backdrop-filter: blur(3px); /* Safari */
    .hello {
      font-size: 24px;
    }
    .fa-lemon {
      font-size: 24px !important;
    }
  }
 
  .bg-photo-team {
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    position: absolute;
  }
  .bg-photo-team {
    .team-bg {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }
  .team-main {
    position: relative;
    z-index: 1000;
    margin: 0;
    align-items: center;
  }

  .role-container {
    border-left: 2px solid #cdccd0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;

    .input-option {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      padding: 15px;
      cursor: pointer;
      color: white;
      .fa-solid {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          color: black;
        }
      }
    }
  }

  .variant {
    background: rgba(27, 27, 27, 0.4); /* напівпрозорий білий */
    backdrop-filter: blur(3px); /* розмиття */
    -webkit-backdrop-filter: blur(3px); /* Safari */
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .legend-team {
      font-size: 28px;
      text-align: center;
      margin: 5px;
      padding: 0 0 45px 0;
      color: white;
    }
  }
  .team {
    height: auto;
    margin-bottom: 10px;
  }

  .email-adress {
    font-size: 18px;
    &::placeholder{
      color: white;
    }
  }

  .checkbox-option-team {
    width: 100%;
    justify-content: center;
  }

  .remove-button {
    display: none;
  }

  .btn-add {
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #0076f1;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    h3 {
      font-size: 24px;
    }
    &:hover {
      background-color: #0076f1;
      color: white;
    }
  }

  .button-container {
    justify-content: space-evenly;
    margin-bottom: 10px;
    .btn-later,
    .btn-invite {
      font-size: 18px;
      color: white;
      background: #0076f1;
    }
  }
}
