@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-third {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-third {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  margin-left: 50px;
}

.logo-third {
  display: flex;
  margin-bottom: 50px;
  color: black;
}
.logo-third .fa-lemon,
.logo-third .hello {
  font-size: 32px;
  margin-right: 10px;
}

.legend-third {
  margin: 50px 0 15px 0;
  font-size: 24px;
  color: #767678;
  font-weight: bold;
}

.checkbox-option-third {
  border: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.options-third {
  display: flex;
  flex-direction: column;
  color: #a0a0a1;
  max-width: 100%;
  flex-wrap: wrap;
}

.custom-option-third {
  display: flex;
  border: 2px solid #767678;
  border-radius: 50px;
  color: #a0a0a1;
  padding: 10px 20px;
  margin: 15px 15px 0 0;
}

label {
  margin-left: 10px;
}

.btn-continue-third,
.btn-back {
  width: 145px;
  height: 45px;
  background: #0076f1;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  margin-top: 100px;
}

.bg-photo-third {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bg-photo-third .third-bg {
  max-width: 100%;
  height: auto;
}

.btn-container-third {
  display: flex;
  justify-content: space-around;
}
.btn-container-third .btn-back,
.btn-container-third .btn-continue-third {
  width: 145px;
  height: 45px;
  background: #0076f1;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  margin: 50px 0 50px 0;
}

@media (max-width: 768px) {
  .container-third {
    flex-direction: column;
    justify-content: center;
  }
  .logo-third {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50px;
    z-index: 1001;
    padding: 10px;
    border-radius: 10px;
    background: rgba(27, 27, 27, 0.4); /* напівпрозорий білий */
    backdrop-filter: blur(3px); /* розмиття */
    -webkit-backdrop-filter: blur(3px); /* Safari */
  }
  .logo-third .hello {
    font-size: 24px;
  }
  .logo-third .fa-lemon {
    font-size: 24px !important;
  }
  .legend-third {
    color: white;
    margin-top: 50px;
  }
  .bg-photo-third {
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    position: absolute;
  }
  .bg-photo-third .third-bg {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-third {
    position: relative;
    z-index: 1000;
    margin: 0;
    align-items: center;
  }
  .options-third {
    background: rgba(27, 27, 27, 0.4); /* напівпрозорий білий */
    backdrop-filter: blur(3px); /* розмиття */
    -webkit-backdrop-filter: blur(3px); /* Safari */
    border-radius: 10px;
  }
  .options-third .legend-third,
  .options-third .paragraph-third {
    margin-left: 0px;
    padding: 0 10px;
    color: white;
  }
  .custom-option-third {
    color: white;
    border: 2px solid white;
    margin-left: 10px;
  }
  .btn-continue-third {
    margin: 35px 0 35px 0;
  }
}/*# sourceMappingURL=third-question.css.map */